html, body {
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Ubuntu", sans-serif;

}
header{
  display: flex;
  padding: 15px;
  position: fixed;
  background: rgb(55, 15, 30);
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  z-index: 10;
}
.checkout-text-font-family {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Ubuntu", sans-serif;
}
h1{
  font-size: 16px;
  font-weight: 500;
  color: #ffffff80;
  margin-bottom: 0;
  margin-top: 30px;
}
#title-price-desk,
#title-price-mobile{
  font-size: 36px;
  font-weight: 600;
}
@media (min-width: 769px) {
  header {
    display: none;
  }
  .head-desk{
    display: flex;
  }
}
.head-desk{
  display: none;
}
.arrow-left {
  width: 10px;
  height: 10px;
  border-top: 2px solid #e8e8e8;
  border-left: 2px solid #e8e8e8;
  transform: rotate(-45deg);
  margin: 10px;
}
.arrow-down {
  width: 6px;
  height: 6px;
  border-right: 2px solid #e8e8e8;
  border-bottom: 2px solid #e8e8e8;
  transform: rotate(45deg);
  margin: 10px auto;
}
.title {
  font-size: 13px;
  color: #1a1a1ab2;
  font-weight: 500;
  padding-top: 0.75rem;
  padding-bottom: 0.25rem;
}
.title-billing {
  font-size: 13px;
  color: #1a1a1ab2;
  font-weight: 500;
  padding-bottom: 0.25rem;
}
.title3 {
  font-size: 16px;
  color: #1a1a1ae6;
  margin-top: 8px;
  margin-bottom: 10px;
  font-weight: 500;
}
#express-checkout-element {
  min-height: 50px; /* ou mais, dependendo da altura do botão */
  display: block;
}
.title1 {
  font-size: 16px;
  color: #1a1a1ae6;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 500;
}

.checkout-container {
  display: flex;
  flex-direction: row;
  min-height: 100%;
  width: 100%;
}

#details {
  display: flex;
  align-items: center;
  gap: 10px;
}

#details a{
  color: #e8e8e8;
  font-size: 12px;
  text-decoration: underline dotted;
}


.checkout-left,
.checkout-right {
  flex: 1; 
}

.checkout-left {
  background: rgb(55, 15, 30);
  color: #ffffffd9;
  display: flex;
}

.checkout-right {
  background: white;
  align-items: center;
}

.checkout-left .price {
  font-size: 2rem;
  font-weight: bold;
}
.summary-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-summary {
  display: flex;
  flex-direction: column;
  max-width: 380px;
  margin: 40px 10% 0 auto;
}

.img-product {
  display: block;
  margin: 0 auto;
  max-width: 45px;
  border-radius: 18px;
  max-height: 45px;
}

.product-description {
  text-align: center;
  max-width: 90%;
}

.price {
  font-size: 20px;
  font-weight: bold;
}

.details-trigger {
  font-size: 13px;
  color: #e8e8e8;
  text-decoration: underline dotted;
  cursor: pointer;
  display: block;
  margin: 8px;
}
.product-price,
.value-shipping {
  white-space: nowrap;
  font-weight: 600;
}
/* ACCORDION - funciona só no mobile */
.coupon {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.input-coupon {
  width: 80%;
  background: #ffffff1f;
  color: white;
  padding: 8px 8px 8px 24px !important;
  line-height: 1.3;
  border-radius: 6px;
  border: 0;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.3s ease;
  cursor: text;
  position: relative;
}

.input-coupon:focus + #apply-coupon,
.input-coupon:focus + #apply-coupon-desktop,
.input-coupon:not(:placeholder-shown) + #apply-coupon,
.input-coupon:not(:placeholder-shown) + #apply-coupon-desktop {
  opacity: 1;
  pointer-events: auto;
}

.input-coupon + #apply-coupon,
.input-coupon + #apply-coupon-desktop {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

@media (min-width: 768px) {
  .input-coupon.desktop {
    width: 80%;
    background: #ffffff1f;
    color: white;
    padding: 8px 8px 8px 24px !important;
    line-height: 1.3;
    border-radius: 18px;
    border: 0;
    font-size: 14px;
    font-weight: 600;
    transition: all 0.3s ease;
    cursor: text;
    position: relative;
  }
  .coupon {
    flex: 1;
  }
  .coupon:focus-within {
    width: 100%;
  }
  .product-row.coupon-discount {
    gap: 30px;
  }
}
.input-coupon:focus::placeholder {
  color: #aaa;
}
.input-coupon::placeholder {
  color: white;
  opacity: 0.8;
  transition: color 0.3s ease;
}
.input-coupon.focused {
  width: 100%;
  background: white;
  color: #333;
  font-weight: 100;
  border: none;
  box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.07),
              0 0 0 4px rgba(255, 255, 255, 0.3);
  outline: none;
}
.coupon-icon {
  position: absolute;
  left: 6px;
  color: white;
  opacity: 0.7;
  top: 12px;
}
#cancel-coupon-desktop,
#cancel-coupon {
  position: absolute;
  margin: 0;
  right: -14%;
  padding: 0;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  z-index: 2;
  color: white;
}
#apply-coupon,
#apply-coupon-desktop {
  position: absolute;
  margin: 5px;
  align-self: flex-end;
  width: 50px;
  padding: 2px 10px 5px 0;
  font-size: 13px;
  background-color: transparent;
  color: #333;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  z-index: 2;
  opacity: 1;
}
.btn-label {
  display: inline-block;
}

.spinner {
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite; /* movimento de rotação */
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}

#apply-coupon .spinner .path {

  stroke: url(#spinner-gradient);
  stroke-linecap: round;
  stroke-dasharray: 90, 150;
  stroke-dashoffset: 0;
  stroke-width: 4;
  animation: dash 1.5s ease-in-out infinite;
  fill: none;
}
#apply-coupon-desktop .spinner .path {
  stroke: url(#spinner-gradient-desktop);
  stroke-linecap: round;
  stroke-dasharray: 90, 150;
  stroke-dashoffset: 0;
  stroke-width: 4;
  animation: dash 1.5s ease-in-out infinite;
  fill: none;
}
#discount-value,
#discount-value-desktop {
    color: #ada8a894;
    border-radius: 14px;
    padding-top: 3px;
    font-size: 14px;
}
.product-row.coupon-discount {
  padding: 3px 0 0 0;
}

.product-details {
  display: flex;
  flex-direction: row;
  transition: max-height 0.4s ease;
  max-width: 380px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
}
.product-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 60px; 
  padding-top: 7px;
  padding-bottom: 13px;
}
.product-row-mobile{
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.product-col-2{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  border-bottom: 1px solid #bbbbbb2e;
  border-top: 1px solid #bbbbbb2e;
  padding-top: 8px;
}
.product-col{
  display: flex;
  flex-direction: column;
  margin: 0;
}
.product-text {
  margin: 0;
  font-size: 14px !important;
  font-weight: 600 !important; 
  color: #fff !important;

}
.product-col p {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}

.value-shipping{
  color: #ffffff80;
}
.product-details.desktop-only{
  display: flex;
  flex-direction: row;
}
.product-col p:last-of-type{
  font-size: 12px;
  color: #aba7a780;
}
.sumary-product{
  flex-direction: column;
  margin-left: 10px;
  width: 330px;
}
.product-col.shipping {
  font-weight: 400;
}
.desktop-only {
  display: block;
}
.desktop-only p{
  display: block;
  font-weight: 600;
  color: #e5e3e3e3;
}
.mobile-only,
.only-mobile {
  display: none;
}

@media (max-width: 768px) {
  .desktop-only {
    display: none !important;
  }
  .desktop-only-title {
    display: none;
  }
  .only-mobile{
    display: block;
  }
}

.link-pay-details {
  margin-left: auto;
  margin-right: auto;
  margin: 10px auto 0 10%;
  max-width: 380px;
  align-items: center;
  cursor: pointer;
}
.title-details{
  display: flex;
  font-size: 16px;
  color: #1a1a1ae6;
  margin-top: 20px;
  font-weight: 500;
}
.mobile-only {
  display: none;
}
.mobile-hero{
  display: none;
}
@media (max-width: 768px) {
  .desktop-only {
    display: none;
  }
  .product-details.desktop-only {
    display: none !important;
  }
  .product-details img{
    border-radius: 5px;
    margin-left: 8px;
  }
  .mobile-only {
    display: flex;
    margin: 0;
  }
  .mobile-hero .img-product {
    margin: 30px 30px 10px 30px;
    max-width: 170px !important;
    max-height: 170px !important;
    border-radius: 25px;
  }
  .title1 {
    margin-top: 9px;
    margin-bottom: 5px;
  }
  .mobile-hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    gap: 3px;
  }
  .mobile-hero h2{
    font-size: 0.875rem;
    font-weight: 500;
    color: #ffffff99;
    margin: 0;
  }
  .mobile-hero p{
    margin: 0;
    font-weight: 500;
    color: #ffffff99;

  }
  .mobile-hero #title-price-mobile{
    font-size: 28px;
  }
  .product-summary {
    margin: auto;
    max-width: max-content;
  }
  .product-info {
    display: flex;
    justify-content: space-between;
    flex: 1;
    margin-bottom: 13px;
  }
  .product-text{
    color: #1a1a1ae6 !important;
  }.value-shipping{
    color: #37373780;
  }
  .mobile-hero .details-trigger {
    font-size: 13px;
    font-weight: 500;
    color: #e8e8e8;
    text-decoration: none;
    cursor: pointer;
    background-color: #ffffff21;
    padding: 10px;
    border-radius: 18px;
  }
  .product-details.mobile-only.accordion-content.open {
    display: flex;
    flex-direction: row; 
    padding: 0 16px 16px 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 -1px 1px rgba(255, 255, 255, 0.05);
    outline: none;
  }
  .product-row{
    gap: 30px
  }.accordion-content .product-price{
    color: #ffffff !important;
  }
  .accordion-content .product-text{
    color: #ffffff !important;
  }
  .accordion-content .sumary-product{
    color: #ffffff !important;
  }
  .accordion-content .product-price{
    color: #ffffff !important;
  }
  .accordion-content .value-shipping{
    color: #ada8a894 !important;
  }
  .sumary-product {
    margin-right: 10px;
    color: #1a1a1ae6 !important;
    width: 330px;
    font-size: 14px;
  }
  .product-col p:last-of-type{
    color: #ada8a894;
    font-weight: 500;
  }
  .product-col.shipping {
    font-weight: 400;
  }
  .product-details{
    max-width: max-content;
  }
  .product-row > *:first-child {
    flex: 1;
  }
  .product-price{
    color: #1a1a1ae6;
  }
  .product-row .product-price,
  .product-row .value-shipping {
    text-align: right;
    min-width: 80px;
    white-space: nowrap;
  }
  input, select {
    padding: 14px 12px !important;
  }
  .groupShipping {
    margin-bottom: 6px !important;
  }
  #showMoreFields {
    margin-bottom: 15px;
  }
  #card-element{
    margin-top: 5px;
  }
}

/* DESKTOP: exibir tudo sempre */
@media (min-width: 769px) {
  .details-trigger {
    display: none;
  }
  .product-details {
    max-height: none;
    overflow: visible;
  }
  .title-details{
    display: none;
  }
}

/* PAYMENT */
form {
  display: flex;
  flex-direction: column;
}

input, select, button {
  padding: 0.8rem;
  border: none;
  border-top: 1px solid #e8e8e8;
  border-radius: 0;
  box-sizing: border-box;
  width: 100%;
}
input::placeholder {
  color:#9a9a9a
}

input, select {
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
  border-bottom: none;
  font-size: 14px;
  padding: 10px 12px !important;
}
.select-wrapper {
  position: relative;
}

.select-wrapper select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 100%;
  padding: 12px 40px 12px 12px;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
}

/* Seta customizada */
.select-wrapper::after {
  content: "▾";
  font-size: 16px;
  color: #888;
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.InputGroup {
  display: flex;
}
.groupShipping{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  border-radius: 999px;
  overflow: visible;
}


#groupShipping{
  margin-bottom: 7px;
}
/* Container geral dos elementos */
#card-elements, #payment-element {
  display: flex;
  flex-direction: column;
  overflow: hidden;

}
.icon-google {
  width: 27px !important;
}
.input-field {
  color: #333;
  outline: none;
  transition: all 0.3s ease;
}

.input-field:focus {
  border: 1px solid #66bfff;
  border-color: #66bfff;
  box-shadow: 0 0 0 3px rgba(102, 191, 255, 0.3);
}
/* Label clicável para selecionar método */
.payment-label {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 16px;
  cursor: pointer;
  font-size: 13px;
  transition: all 0.2s ease;
}
.accordion-overlay {
  position: fixed;
  top: var(--header-height, 60px);
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(28, 28, 28, 0.6);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: auto;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.accordion-overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.accordion-overlay .accordion-content {
  background-color: #370f1e;
  width: 100%;
  max-width: 500px;
  transform: translateY(-30px);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.accordion-overlay.show .accordion-content {
  transform: translateY(0);
  opacity: 1;
}

.hidden {
  display: none;
}
.custom-divider {
  display: flex;
  align-items: center;
  text-align: center;
}
.custom-divider::before,
.custom-divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.custom-divider::before {
  margin-right: 10px;
}

.custom-divider::after {
  margin-left: 10px;
}

.custom-divider span {
  white-space: nowrap;
  color: #888;
  font-weight: 500;
  font-size: 14px;
}
.payment-option label.payment-label {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 15px 12px 15px 12px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin: 0 6px 0 6px;
  margin-bottom: 0;
}
.desktop-only-title p{
  font-weight: 600;
  margin-bottom: 0;
  color: #ccc6c6bf;
}
.google-pay-details {
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto 0 10%;
  max-width: 380px;
  align-items: center;
}

.card-details,
.google-pay-details {
  flex-direction: column;
  padding-top: 10px;
  font-size: 13px;
  color: #1a1a1ab2;
}
/* Campos de cartão */
.StripeInput {
  display: flex;
  flex-direction: column;
  border: 1px solid #e8e8e8;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 9px;

}

.card-expiry {
  display: flex;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  border: 1px solid #e8e8e8;
  border-top: none;
  overflow: hidden;
  justify-content: center;
}

.StripeInput iframe + div {
  display: none !important;
}

#card-expiry-element {
  width: 50%;
  border: 0;
}
.card-title{
  margin-bottom: 5px;
}

#card-cvc-element {
  width: 50%;
  border: 0;
  border-left: 1px solid #e8e8e8;
  border-top-left-radius: 0;
}
.RadioButton {
  appearance: none;
  -webkit-appearance: none;
  background-color: #fff;
  border: 1px solid black;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  cursor: pointer;
  padding: 0 !important;
}

.RadioButton:checked::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: black;
}
.payment-label.selected {
  font-weight: 500;
}
#name {
  border-left: 1px solid #e8e8e8;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

#shippingAdministrativeArea {
  border-bottom: 1px solid #e8e8e8;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  color: #9c9c9c;
  padding: 10px 12px !important;
}

#shippingPostalCode {
  border-left: 0;
}

#shippingAddressLine1 {
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  border-bottom: 1px solid #e8e8e8;
}

#shippingAddressLine1.expanded {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}

#payment-form {
  max-width: 380px;
  margin: 0 auto 0 10%;
  gap: 5px;
}

#showMoreFields {
  color: #1a1a1ab2;
  font-size: 12px;
  text-decoration: underline dotted;
  margin-top: 0 !important;
}

#country {
  color: #1A1A1A66;
  background-color: #eae9e9;
}

#payment-message {
  color: red;
  margin-top: 10px;
}
.save-information{
  display: flex;
  padding: 10px;
  border: 1px solid #e8e8e8;
  border-radius: 18px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.text-informations{
  display: flex;
  flex-direction: column;
  color: gray;
}
.info{
  color: #5b5959;
  font-weight: 500;
  font-size: 14px;
}
.info2{
  font-size: 13px;
}
.text-informations p{
  margin: 0;
}
.icon {
  width: 18px;
  margin-top: 3px;
}
/* Método de pagamento base */
.payment-method label {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 12px;
  margin-top: 8px;
  background-color: #f6f8fa;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

label[for="payment-method-google"] {
  border-top: 1px solid #e8e8e8;
}

.btn-radio {
  display: flex;
  gap: 8px;
  align-items: end;
}
button {
  border-radius: 20px;
  margin-top: 10px;
  background: #52bae7d9;
  color: #3a3a3ae6;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
#google-pay-button{
  border-radius: 20px;
}
.btn-google {
  background: #000 !important;
  color: #fff !important;
}

.back-button {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
  position: relative;
  height: 40px;
}

#email {
  border: 1px solid #e8e8e8;
  border-radius: 20px; 
  padding: 13px 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  outline: none;
  width: 100%;
  transition: box-shadow 0.2s ease-in-out;
  margin-top: 5px;
}

#email:focus {
  border: 1px solid #66bfff;
  border-color: #66bfff;
  box-shadow: 0 0 0 3px rgba(102, 191, 255, 0.3);
}
#showMoreFields-billing{
  color: #1a1a1ab2;
  font-size: 12px;
  text-decoration: underline dotted;
}
.billing{
  margin-top: 5px;
  margin-bottom: 5px;
}
#billing-country{
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  color:#9c9c9c
}
.input-field.expanded {
  border-bottom: none !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
#billing-line1{
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  border-bottom: 1px solid #e8e8e8;
}
#billing-line1.expanded{
  border-bottom: none !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
#billing-postal{
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  border-bottom: 1px solid #e8e8e8;

}
#billing-name {
  border: 1px solid #e8e8e8;
  border-radius: 20px; 
  padding: 13px 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  outline: none;
  width: 100%;
  transition: box-shadow 0.2s ease-in-out;
  margin-top: 5px;
  margin-bottom: 12px;
}

#billing-name:focus {
  border: 1px solid #66bfff;
  border-color: #66bfff;
  box-shadow: 0 0 0 3px rgba(102, 191, 255, 0.3);
}
.arrow {
  width: 20px;
  height: 20px;
}
.back-content{
  display: flex;
  align-items: center;
}
.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

.accordion-content.open {
  max-height: 1000px;
}
.desk-header{
  display: block;
}
.logo-superment, .voltar {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  transition: opacity 0.3s ease;
}

.logo-superment {
  gap: 16px;
  width: 30px;
  height: 30px;
  background-color: #ffffffe6;
  border-radius: 20px;
}

.logo {
  width: 30px;
  height: 30px;
}

.superment {
  font-size: 16px;
  font-weight: 500;
}

.voltar {
  opacity: 0;
  left: 40px;
  position: absolute;
}

.back-button:hover .logo-superment {
  opacity: 0;
}

.back-button:hover .voltar {
  opacity: 1;
}

.details-trigger {
  font-size: 13px;
  color: #e8e8e8;
  text-decoration: underline dotted;
  cursor: pointer;
}
/* Responsivo */
@media (max-width: 768px) {
  .checkout-container {
    flex-direction: column;
  }
  .custom-divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
  }

  .custom-divider::before,
  .custom-divider::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #ccc;
  }

  .custom-divider::before {
    margin-right: 10px;
  }

  .custom-divider::after {
    margin-left: 10px;
  }

  .custom-divider span {
    white-space: nowrap;
    color: #888;
    font-weight: 500;
    font-size: 14px;
  }
  .checkout-left,
  .checkout-right {
    height: auto;
    padding: 20px;
  }
  #payment-form {
    margin: auto;
    width: auto;
  }
  .logo {
    width: 30px;
    height: 30px;
  }
  .StripeInput {
    padding: 13px;
  }
  .logo-superment {
    gap: 10px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 20px;
    right: 6px;
    position: relative;
  }
  .google-pay-details{
    margin-left: auto;
    margin-right: auto;
    width: auto;
    align-items: center;
  }
  .link-pay-details{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    align-items: center;
  }
  .superment {
    font-size: 12px;
  }
  .desk-header{
    display: none;
  }
}

.checkbox{
  display: flex;
  font-size: 13px;
  color: #1a1a1ab2;
  box-sizing: border-box;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.custom-checkbox {
  padding: 0.5rem !important;
  appearance: none;
  -webkit-appearance: none;
  background-color: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  width: 13px;
  height: 13px;
  cursor: pointer;
  position: relative;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  vertical-align: middle;
  margin-right: 8px;
}

.custom-checkbox:checked {
  border-color: #000;
  background-color: #fff;
}
.custom-checkbox:checked::after {
  content: '';
  position: absolute;
  left: 7px;
  top: -5px;
  width: 6px;
  height: 13px;
  border: solid #000;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg) scaleY(1.2); /* alonga a perna para baixo */
}

.stripe-footer{
  padding: 20px;
  padding-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 380px;
  color: #b7b7b7;
  font-size: 12px;
  gap: 10px;
}
.stripe-footer a {
  color: inherit;
  text-decoration: none;
}

.pac-container {
  top: -1 !important;
  z-index: 999 !important;
  margin-top: -30px !important;
  transform: translateY(-100%) !important;
}