<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    
    <title>Superment Checkout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <script src="https://js.stripe.com/v3/"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/static/img/favicon.ico">
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-T6Z2ZN9H');</script>
    <!-- End Google Tag Manager -->
</head>

<body>
    <header>
        <div>
            <a href="https://superment.co/sleep" class="back-button">
                <div class="arrow-left"></div>
                <span class="logo-superment">
                    <img src="/static/img/sleep-logo.png" alt="logo" class="logo">
                    <span class="superment checkout-text-font-family">Superment</span>
                </span>
                <span class="voltar">Back</span>
            </a>
        </div>
        <div class="details-trigger">
            <span>Details</span>
            <svg class="details-icon" width="10" height="6" viewBox="0 0 10 6" xmlns="http://www.w3.org/2000/svg"
                style="display:inline; vertical-align:middle; margin-left:4px">
                <path d="M1 1L5 5L9 1" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
        </div>
        </div>
    </header>
    <div class="head-desk">
        <a href="https://superment.co/sleep" class="back-button">
            <div class="arrow-left"></div>
            <span class="logo-superment">
                <img src="/static/img/sleep-logo.png" alt="logo" class="logo">
                <span class="superment">Superment</span>
            </span>
            <span class="voltar">Back</span>
        </a>
    </div>
    <div class="checkout-container">
        <div class="checkout-left">
            <div class="product-summary">
                <!-- ACCORDION -->
                <div class="accordion-overlay" id="accordionOverlay">
                    <div id="product-details" class="product-details mobile-only accordion-content">
                        <img src="{{ product.images[0] }}" alt="{{ product.name }}" class="img-product" width="160" />
                        <div class="sumary-product">
                            <div class="product-row-mobile">
                                <div class="product-info">
                                    <div class="product-col">
                                        <p>{{ product.name }}</p>
                                        <p> {{ product.description }}</p>
                                    </div>
                                    <span class="product-price">
                                        US$ {{ '%.2f' | format(price.unit_amount / 100) }}
                                    </span>
                                </div>
                            </div>
                            <div class="product-row">
                                <div class="product-col-2">
                                    <div class="product-row">
                                        <p class="product-text">Subtotal</p>
                                        <span class="product-price">
                                            US$ {{ '%.2f' | format(price.unit_amount / 100) }}
                                        </span>
                                    </div>
                                    <div class="product-row coupon-discount">
                                        <div class="coupon">
                                            <svg id="coupon-valid-icon" class="coupon-icon" focusable="false" width="12"
                                                height="12" viewBox="0 0 12 12" fill="none" style="display:none;">
                                                <path opacity="0.5" fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M5.76372 0.441305L11.7795 6.4757C12.0735 6.76867 12.0735 7.24365 11.7795 7.53662L7.52046 11.7803C7.22643 12.0732 6.74973 12.0732 6.4557 11.7803L0.435789 5.74171C0.156657 5.46172 0 5.08308 0 4.68843V1.50036C0 0.671734 0.674166 0 1.50579 0H4.69951C5.09908 0 5.48213 0.158844 5.76372 0.441305ZM2.625 3.75C3.24632 3.75 3.75 3.24632 3.75 2.625C3.75 2.00368 3.24632 1.5 2.625 1.5C2.00368 1.5 1.5 2.00368 1.5 2.625C1.5 3.24632 2.00368 3.75 2.625 3.75Z"
                                                    fill="currentColor"></path>
                                            </svg>
                                            <input id="coupon-code" type="text" class="input-coupon mobile 1"
                                                placeholder="Promotion Code Entry">
                                            <button type="button" id="apply-coupon">
                                                <span class="btn-label">Apply</span>
                                                <span class="btn-spinner" style="display: none;">
                                                    <svg class="spinner" viewBox="0 0 50 50">
                                                        <defs>
                                                            <linearGradient id="spinner-gradient" x1="0%" y1="0%"
                                                                x2="100%" y2="0%">
                                                                <stop offset="0%" stop-color="#2e8eca"
                                                                    stop-opacity="1" />
                                                                <stop offset="100%" stop-color="#2e8eca"
                                                                    stop-opacity="0" />
                                                            </linearGradient>
                                                        </defs>
                                                        <circle class="path" cx="25" cy="25" r="20" />
                                                    </svg>
                                                </span>
                                            </button>
                                            <button id="cancel-coupon"
                                                style="position: absolute; left: 56px; top: 8px; display: none; background: none; border: none; font-size: 12px; cursor: pointer;">✕</button>
                                            <span style="display: none" id="discount-value"></span>
                                            <span id="discount-value"></span>
                                            <div id="coupon-message" style="margin-top: 5px; font-size: 14px;"></div>
                                        </div>
                                        <span id="discount-amount" style="display: none; margin-left: 10px; font-size: 14px; color: #ffffff9f;">
                                        </span>
                                    </div>
                                    <div class="product-row">
                                        <div class="product-col shipping">
                                            <p class="product-col shipping">Shipping</p>
                                            <p>U.S. Shipping (Up to 7 days)</p>
                                        </div>
                                        <span class="value-shipping">US$ 4,90</span>
                                    </div>
                                </div>
                            </div>
                            <div class="product-row product-text">
                                <p class="product-text">Total due</p>
                                <span id="total-price">
                                    US$ {{ '%.2f' | format((price.unit_amount + 490) / 100) }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="desk-header">
                    <a href="https://superment.co/sleep" class="back-button">
                        <div class="back-content">
                            <div class="arrow-left"></div>
                            <span class="logo-superment">
                                <img src="/static/img/sleep-logo.png" alt="logo" class="logo">
                                <span class="superment">Superment</span>
                            </span>
                            <span class="voltar">Back</span>
                        </div>
                    </a>
                </div>

                <!-- HERO MOBILE  -->
                <div class="mobile-hero">
                    <img src="{{ product.images[0] }}" alt="{{ product.name }}" class="img-product" width="160" />
                    <p>{{ product.name }}</p>
                    <span id="title-price-mobile">
                        US$ {{ '%.2f' | format((price.unit_amount + 490) / 100) }}
                    </span>
                    <div class="details-trigger">
                        <span>Add code</span>
                        <svg class="details-icon" width="10" height="6" viewBox="0 0 10 6"
                            xmlns="http://www.w3.org/2000/svg"
                            style="display:inline; vertical-align:middle; margin-left:4px">
                            <path d="M1 1L5 5L9 1" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </div>
                </div>
                <!-- DETAILS DESKTOP -->
                <div class="desktop-only-title">
                    <p class="desktop-only-title"> Pay Superment</p>
                    <span id="title-price-desk">
                        US$ {{ '%.2f' | format((price.unit_amount + 490) / 100) }}
                    </span>
                </div>
                <div id="product-details" class="product-details desktop-only">
                    <img src="{{ product.images[0] }}" alt="{{ product.name }}" class="img-product" width="160" />
                    <div class="sumary-product">
                        <div class="product-row">
                            <div class="product-col">
                                <p>{{ product.name }}</p>
                                <p> {{ product.description }}</p>
                            </div>
                            <span class="product-price">
                                US$ {{ '%.2f' | format(price.unit_amount / 100) }}
                            </span>
                        </div>
                        <div class="product-row">
                            <div class="product-col-2">
                                <div class="product-row">
                                    <p class="product-text">Subtotal</p>
                                    <span class="product-price">
                                        $ {{ '%.2f' | format(price.unit_amount / 100) }}
                                    </span>
                                </div>
                                <div class="product-row coupon-discount">
                                    <div class="coupon">
                                        <svg id="coupon-valid-icon-desktop" class="coupon-icon" focusable="false" width="12"
                                            height="12" viewBox="0 0 12 12" fill="none" style="display:none;">
                                            <path opacity="0.5" fill-rule="evenodd" clip-rule="evenodd"
                                                d="M5.76372 0.441305L11.7795 6.4757C12.0735 6.76867 12.0735 7.24365 11.7795 7.53662L7.52046 11.7803C7.22643 12.0732 6.74973 12.0732 6.4557 11.7803L0.435789 5.74171C0.156657 5.46172 0 5.08308 0 4.68843V1.50036C0 0.671734 0.674166 0 1.50579 0H4.69951C5.09908 0 5.48213 0.158844 5.76372 0.441305ZM2.625 3.75C3.24632 3.75 3.75 3.24632 3.75 2.625C3.75 2.00368 3.24632 1.5 2.625 1.5C2.00368 1.5 1.5 2.00368 1.5 2.625C1.5 3.24632 2.00368 3.75 2.625 3.75Z"
                                                fill="currentColor"></path>
                                        </svg>
                                        <input id="coupon-code-desktop" type="text" class="input-coupon desktop"
                                            placeholder="Promotion Code Entry">
                                        <button type="button" id="apply-coupon-desktop">
                                            <span class="btn-label">Apply</span>
                                            <span class="btn-spinner" style="display: none;">
                                                <svg class="spinner" viewBox="0 0 50 50">
                                                    <defs>
                                                        <linearGradient id="spinner-gradient-desktop" 
                                                        x1="0%" y1="0%" x2="100%" y2="0%">
                                                            <stop offset="0%" stop-color="#2e8eca" stop-opacity="1" />
                                                            <stop offset="100%" stop-color="#2e8eca" stop-opacity="0" />
                                                        </linearGradient>
                                                    </defs>
                                                    <circle class="path" cx="25" cy="25" r="20" />
                                                </svg>
                                            </span></button>
                                        <button id="cancel-coupon-desktop"
                                            style="position: absolute; left: 50px; top: 8px; display: none; background: none; border: none; font-size: 12px; cursor: pointer;">✕</button>
                                        <span style="display: none" id="discount-value-desktop"></span>
                                        <span id="discount-value-desktop"></span>
                                        <div id="coupon-message-desktop" style="margin-top: 5px; font-size: 14px;"></div>
                                    </div>
                                    <span id="discount-amount-desktop" style="display: none; font-size: 14px; color: #ffffff9f;"></span>
                                </div>
                                <div class="product-row">
                                    <div class="product-col shipping">
                                        <p class="product-col shipping">Shipping</p>
                                        <p>U.S. Shipping (At most 7 days)</p>
                                    </div>
                                    <span class="value-shipping">$ 4,90</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-row product-text">
                            <p class="product-text">Total due</p>
                            <span id="total-price-desk">
                                US$ {{ '%.2f' | format((price.unit_amount + 490) / 100) }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- PAYMENT -->
        <div class="checkout-right">
            <div id="express-checkout-element" class="google-pay-details only-mobile"></div>
            <form id="payment-form">                
                <div class="custom-divider"><span>Or</span></div>
                <div class="title3"> Shipping information</div>
                <div class="email-form">
                    <label class="title" for="email">E-mail</label>
                    <input id="email" class="input-field" name="email" type="email" placeholder="email@example.com"
                        required />
                </div>
                <label class="title">Shipping Address</label>
                <div class="groupShipping">
                    <div class="input-wrapper">
                        <input id="name" name="name" class="input-field" placeholder="Name" type="text" required />
                    </div>
                    <div class="autocomplete-wrapper">
                        <input id="country" class="input-field" name="country" value="United States" disabled />
                    </div>
                    <div class="input-wrapper">
                        <input id="shippingAddressLine1" class="input-field" name="line1" placeholder="Enter an address"
                            type="text" required />
                    </div>
                    <div id="extraFields" style="display: none;">
                        <div class="input-wrapper">
                            <input id="shippingAddressLine2" class="input-field" name="shippingAddressLine2"
                                placeholder="Address, line 2" type="text" />
                        </div>
                        <div class="InputGroup">
                            <div class="input-wrapper">
                                <input id="shippingLocality" class="input-field" name="shippingLocality"
                                    placeholder="City" type="text" />
                            </div>
                            <div class="input-wrapper">
                                <input id="shippingPostalCode" class="input-field" name="shippingPostalCode"
                                    placeholder="ZIP code" type="text" />
                            </div>
                        </div>
                        <div class="select-wrapper">
                            <select id="shippingAdministrativeArea" class="Select-source input-field"
                                name="shippingAdministrativeArea" placeholder="State" required>
                                <option value="" disabled selected>Select a state</option>
                                <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>
                                <option value="AR">Arkansas</option>
                                <option value="CA">California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                                <option value="DE">Delaware</option>
                                <option value="FL">Florida</option>
                                <option value="GA">Georgia</option>
                                <option value="HI">Hawaii</option>
                                <option value="ID">Idaho</option>
                                <option value="IL">Illinois</option>
                                <option value="IN">Indiana</option>
                                <option value="IA">Iowa</option>
                                <option value="KS">Kansas</option>
                                <option value="KY">Kentucky</option>
                                <option value="LA">Louisiana</option>
                                <option value="ME">Maine</option>
                                <option value="MD">Maryland</option>
                                <option value="MA">Massachusetts</option>
                                <option value="MI">Michigan</option>
                                <option value="MN">Minnesota</option>
                                <option value="MS">Mississippi</option>
                                <option value="MO">Missouri</option>
                                <option value="MT">Montana</option>
                                <option value="NE">Nebraska</option>
                                <option value="NV">Nevada</option>
                                <option value="NH">New Hampshire</option>
                                <option value="NJ">New Jersey</option>
                                <option value="NM">New Mexico</option>
                                <option value="NY">New York</option>
                                <option value="NC">North Carolina</option>
                                <option value="ND">North Dakota</option>
                                <option value="OH">Ohio</option>
                                <option value="OK">Oklahoma</option>
                                <option value="OR">Oregon</option>
                                <option value="PA">Pennsylvania</option>
                                <option value="RI">Rhode Island</option>
                                <option value="SC">South Carolina</option>
                                <option value="SD">South Dakota</option>
                                <option value="TN">Tennessee</option>
                                <option value="TX">Texas</option>
                                <option value="UT">Utah</option>
                                <option value="VT">Vermont</option>
                                <option value="VA">Virginia</option>
                                <option value="WA">Washington</option>
                                <option value="WV">West Virginia</option>
                                <option value="WI">Wisconsin</option>
                                <option value="WY">Wyoming</option>
                            </select>
                        </div>
                    </div>
                </div>
                <a href="#" id="showMoreFields" style="display: block; margin-top: 8px;"> Fill in the address
                    manually</a>
                <label class="title1">Payment Methods</label>
                <div id="card-elements" class="card-elements">
                    <!-- Cartão -->
                    <!-- <div class="payment-option"> -->
                    <!-- <label for="payment-method-card" class="payment-label">
                            <input type="radio" name="payment-method" id="payment-method-card" class="RadioButton"
                                checked>
                            <img class="icon" src="/static/img/card.svg">
                            Card
                        </label> -->
                    <div class="card-details">
                        <div class="card-title">
                            <label class="title card-title">Card information</label>
                        </div>
                        <div id="card-number-element" class="StripeInput"> </div>
                        <div class="card-expiry">
                            <div id="card-expiry-element" class="StripeInput"></div>
                            <div id="card-cvc-element" class="StripeInput"></div>
                        </div>

                        <div class="checkbox">
                            <input type="checkbox" id="showBillingFields" class="custom-checkbox" checked>
                            <label class="title-billing">Shipping Address</label>
                        </div>
                        <div id="groupShipping-billing">
                            <div class="input-wrapper">
                                <label class="title billing" for="billing-same">Name</label>
                                <input class="input-field" type="text" id="billing-name" name="billing_name"
                                    placeholder="Full name" required>
                            </div>
                            <div id="groupShipping">
                                <label class="title billing">Billing address</label>
                            </div>
                            <div class="groupShipBilling">
                                <div id="Country-adress">
                                    <div class="select-wrapper">
                                        <select class="Select-source input-field" id="billing-country"
                                            name="billing-country" placeholder="Country" required>
                                            <option value="" disabled selected>Select a country</option>
                                        </select>
                                    </div>
                                    <div class="input-wrapper">
                                        <input class="input-field" type="text" id="billing-line1" name="billing_line1"
                                            placeholder="Street address" required>
                                    </div>
                                </div>
                                <div id="billingExtraFields" style="display: none;">
                                    <div class="input-wrapper">
                                        <input class="input-field" type="text" id="billing-line2" name="billing_line2"
                                            placeholder="Address line 2 (optional)">
                                    </div>
                                    <div class="input-wrapper">
                                        <input class="input-field" type="text" id="billing-city" name="billing_city"
                                            placeholder="City" required>
                                    </div>
                                    <div class="input-wrapper">
                                        <input class="input-field" id="billing-state" name="billing_state"
                                            placeholder="State" required>
                                    </div>
                                    <div class="input-wrapper">
                                        <input class="input-field" type="text" id="billing-postal" name="billing_postal"
                                            placeholder="Postal Code" required>
                                    </div>
                                </div>
                            </div>
                            <a href="#" id="showMoreFields-billing" style="display: none; margin-top: 8px;"> Fill in the
                                address manually</a>
                        </div>
                    </div>
                    <!-- <div class="save-information">
                        <input class="custom-checkbox" type="checkbox">
                        <div class="text-informations">
                            <p class="info">Save my information for faster Checkout</p>
                            <p class="info2">Pay faster on Superment and everywhere Link is accepted</p>
                        </div>
                    </div> -->
                </div>

                <div id="payment-buttons">
                    <div id="payment-message" style="color: red; margin-top: 10px;"></div>
                    <button class="btn-pay" type="submit" id="submit">Pay</button>
                </div>
                <!-- FOOTER -->

                <div class="stripe-footer">
                    <a href="https://stripe.com/"><strong>stripe</strong></span>
                        <span class="divider">|</span>
                        <a href="https://stripe.com/legal/end-users" target="_blank" rel="noopener noreferrer">Terms</a>
                        <a href="https://stripe.co/privacy" target="_blank" rel="noopener noreferrer">Privacy</a>
                </div>
            </form>

        </div>
    </div>
    </div>
    <script>

        window.publishableKey = "{{ publishable_key }}";
        window.paymentIntentId = "{{ payment_intent_id }}";
        window.productPrice = "{{ product_price }}";
        window.productCurrency = "{{ product_currency }}";
        window.mapsKey = "{{ maps_key }}";

        function initShippingAutocomplete() {
            const input = document.getElementById('shippingAddressLine1');
            const extraFieldsContainer = document.getElementById('extraFields');
            const shippingAddressLine2 = document.getElementById('shippingAddressLine2');
            const shippingLocality = document.getElementById('shippingLocality');
            const shippingPostalCode = document.getElementById('shippingPostalCode');
            const shippingAdministrativeArea = document.getElementById('shippingAdministrativeArea');
            const countryInput = document.getElementById('country');
            const usStates = {
                "AL": "Alabama", "AK": "Alaska", "AZ": "Arizona", "AR": "Arkansas", "CA": "California",
                "CO": "Colorado", "CT": "Connecticut", "DE": "Delaware", "FL": "Florida", "GA": "Georgia",
                "HI": "Hawaii", "ID": "Idaho", "IL": "Illinois", "IN": "Indiana", "IA": "Iowa",
                "KS": "Kansas", "KY": "Kentucky", "LA": "Louisiana", "ME": "Maine", "MD": "Maryland",
                "MA": "Massachusetts", "MI": "Michigan", "MN": "Minnesota", "MS": "Mississippi", "MO": "Missouri",
                "MT": "Montana", "NE": "Nebraska", "NV": "Nevada", "NH": "New Hampshire", "NJ": "New Jersey",
                "NM": "New Mexico", "NY": "New York", "NC": "North Carolina", "ND": "North Dakota", "OH": "Ohio",
                "OK": "Oklahoma", "OR": "Oregon", "PA": "Pennsylvania", "RI": "Rhode Island", "SC": "South Carolina",
                "SD": "South Dakota", "TN": "Tennessee", "TX": "Texas", "UT": "Utah", "VT": "Vermont",
                "VA": "Virginia", "WA": "Washington", "WV": "West Virginia", "WI": "Wisconsin", "WY": "Wyoming"
            };
            for (const abbreviation in usStates) {
                if (usStates.hasOwnProperty(abbreviation)) {
                    const option = document.createElement('option');
                    option.value = abbreviation;
                    option.textContent = usStates[abbreviation];
                    shippingAdministrativeArea.appendChild(option);
                }
            }
            const autocomplete = new google.maps.places.Autocomplete(input, {
                types: ['address'],
                componentRestrictions: { country: ['us'] },
                fields: ['address_components', 'geometry', 'formatted_address']
            });

            autocomplete.addListener('place_changed', function () {
                const place = autocomplete.getPlace();
                shippingAddressLine2.value = '';
                shippingLocality.value = '';
                shippingPostalCode.value = '';
                shippingAdministrativeArea.value = '';

                if (!place.geometry) {

                    console.error("Nenhum detalhe de endereço disponível para: " + place.name);
                    extraFieldsContainer.style.display = 'none';
                    return;
                }
                extraFieldsContainer.style.display = 'block';

                let streetNumber = '';
                let streetName = '';
                let city = '';
                let stateAbbreviation = '';
                let state = '';
                let postalCode = '';

                for (const component of place.address_components) {
                    const type = component.types[0];

                    if (type === 'street_number') {
                        streetNumber = component.long_name;
                    } else if (type === 'route') {
                        streetName = component.long_name;
                    } else if (type === 'locality') {
                        city = component.long_name;
                    } else if (type === 'administrative_area_level_1') {
                        stateAbbreviation = component.short_name;
                    } else if (type === 'postal_code') {
                        postalCode = component.long_name;
                    }
                }
                input.value = `${streetNumber ? streetNumber + ' ' : ''}${streetName}`;
                shippingLocality.value = city;
                shippingPostalCode.value = postalCode;

                if (stateAbbreviation) {
                    shippingAdministrativeArea.value = stateAbbreviation;
                }
            });
        }
        function initBillingAutocomplete() {
            const input = document.getElementById('billing-line1');
            const extraFieldsContainer = document.getElementById('billingExtraFields');
            const billingLine2 = document.getElementById('billing-line2');
            const billingCity = document.getElementById('billing-city');
            const billingPostalCode = document.getElementById('billing-postal');
            const billingState = document.getElementById('billing-state');
            const billingCountry = document.getElementById('billing-country');

            const autocomplete = new google.maps.places.Autocomplete(input, {
                types: ['address'],
                componentRestrictions: { country: ['us'] },
                fields: ['address_components', 'geometry', 'formatted_address']
            });

            autocomplete.addListener('place_changed', function () {
                const place = autocomplete.getPlace();

                billingLine2.value = '';
                billingCity.value = '';
                billingPostalCode.value = '';
                billingState.value = '';
                extraFieldsContainer.style.display = 'block';

                let country = '';
                let streetNumber = '';
                let streetName = '';
                let city = '';
                let stateAbbreviation = '';
                let postalCode = '';

                for (const component of place.address_components) {
                    const type = component.types[0];
                    if (type === 'country') {
                        country = component.long_name;
                    } else if (type === 'street_number') {
                        streetNumber = component.long_name;
                    } else if (type === 'route') {
                        streetName = component.long_name;
                    } else if (type === 'locality') {
                        city = component.long_name;
                    } else if (type === 'administrative_area_level_1') {
                        stateAbbreviation = component.short_name;
                    } else if (type === 'postal_code') {
                        postalCode = component.long_name;
                    }
                }
                input.value = `${streetNumber ? streetNumber + ' ' : ''}${streetName}`;
                billingCity.value = city;
                billingPostalCode.value = postalCode;
                if (stateAbbreviation) billingState.value = stateAbbreviation;
                const billingLine1 = document.getElementById("billing-line1");
                if (billingLine1) {
                    billingLine1.classList.add("expanded");
                }
            });
        }
        function initAutocomplete() {
            initShippingAutocomplete();
            initBillingAutocomplete();
        }
    </script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key={{ maps_key }}&libraries=places&callback=initAutocomplete&loading=async"
        async defer></script>
    <script src="/static/js/data/country.js"></script>
    <script>
        const select = document.getElementById("billing-country");
        if (select && window.countryList) {
            window.countryList.forEach(country => {
                const option = document.createElement("option");
                option.value = country.value;
                option.textContent = country.label;
                select.appendChild(option);
            });
        }               
    </script>
    </script>
    <script src="/static/js/checkout.js"></script>
</body>

</html>