<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TESTE1</title>
</head>
<body>
    <button href="/get-price-id?" id="buy-button" data-product-id="prod_ScV0CEYhFRKr6v">
        Comprar agora
    </button>
    <div id="smart-pay-button" class="google-pay-details only-mobile" style="display: block;"></div>


    <!-- 
         <label class="title">Dados do cartão</label>
          <div class="card-wrapper">
              <div class="card-icons">
              <img src="../static/img/visa.svg" alt="visa">
              <img src="../static/img/mastercard.svg" alt="mastercard">
                <div id="card-number-element" class="StripeInput"> </div>
          </div>
          -->
</body>
</html>

<script>
document.getElementById("buy-button").addEventListener("click", async () => {
  const productId = document.getElementById("buy-button").dataset.productId;

  try {
    const res = await fetch(`/get-price-id?product_id=${productId}`);
    const data = await res.json();
    if (!data.price_id) {
      alert("Erro ao buscar preço: " + data.error);
      return;
    }
    window.location.href = `/checkout?price_id=${data.price_id}`;
  } catch (err) {
    alert("Erro na requisição.");
    console.error(err);
  }
});
</script>