<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TESTE1</title>
</head>
<body>
    <button href="/get-price-id?" id="buy-button" data-product-id="prod_ScV0CEYhFRKr6v">
        Comprar agora
    </button>
<!-- 
         <label class="title">Dados do cartão</label>
                            <div class="card-wrapper">
                                <div class="card-icons">
                                <img src="../static/img/visa.svg" alt="visa">
                                <img src="../static/img/mastercard.svg" alt="mastercard">
                                 <div id="card-number-element" class="StripeInput"> </div>
                            </div>
                            -->
</body>
</html>

  <!-- // const price = parseInt(window.productPrice || 0);
  // const currency = window.productCurrency || "usd";
  // if (price <= 0) {
  //   console.error("⚠️ Valor inválido para o produto. Abortando Google Pay.");
  // } else {
  //   const paymentRequest = stripe.paymentRequest({
  //     country: "US",
  //     currency: currency,
  //     total: {
  //       label: "Total",
  //       amount: price,
  //     },
  //     requestPayerName: true,
  //     requestPayerEmail: true,
  //     requestShipping: false,
  //   });
  // }

  // const smartPayButton = elements.create("paymentRequestButton", {
  //   paymentRequest,
  //   style: {
  //     paymentRequestButton: {
  //       type: "default",
  //       theme: "dark",
  //       height: "40px"
  //     }
  //   }
  // });

  // paymentRequest.canMakePayment().then((result) => {
  //   console.log("canMakePayment result:", result);
  //   if (result) {
  //     smartPayButton.mount("#smart-pay-button");
  //   } else {
  //     document.querySelector(".google-pay-details").style.display = "none";
  //   }

  // });

  // paymentRequest.on("paymentmethod", async (ev) => {
  //   const { error } = await stripe.confirmCardPayment(window.clientSecret, {
  //     payment_method: ev.paymentMethod.id,
  //     shipping: {
  //       name: ev.payerName,
  //     },
  //     receipt_email: ev.payerEmail
  //   });

  //   if (error) {
  //     ev.complete("fail");
  //     message.textContent = error.message;
  //   } else {
  //     ev.complete("success");
  //     window.location.href = "https://superment.co/supersleep/sucess/";
  //   }
  // }); -->

<script>
document.getElementById("buy-button").addEventListener("click", async () => {
  const productId = document.getElementById("buy-button").dataset.productId;

  try {
    const res = await fetch(`/get-price-id?product_id=${productId}`);
    const data = await res.json();
    if (!data.price_id) {
      alert("Erro ao buscar preço: " + data.error);
      return;
    }
    window.location.href = `/checkout?price_id=${data.price_id}`;
  } catch (err) {
    alert("Erro na requisição.");
    console.error(err);
  }
});
</script>